<header class="pxp-header fixed-top pxp-is-sticky">
    <div class="pxp-container">
        <div class="pxp-header-container ">
           <div class="d-flex align-items-center">
                <div class="pxp-logo pxp-light me-5">
                    <a href="@Url.Action("index","home")" class="pxp-animate"><img src="~/assets/images/logo-1.png" width="100" /></a>
                </div>
                <div class="pxp-nav-trigger @(ViewBag.IsHomePage?"pxp-light":"") navbar d-xl-none flex-fill">
                    <a role="button" data-bs-toggle="offcanvas" data-bs-target="#pxpMobileNav" aria-controls="pxpMobileNav">
                        <div class="pxp-line-1"></div>
                        <div class="pxp-line-2"></div>
                        <div class="pxp-line-3"></div>
                    </a>
                    <div class="offcanvas offcanvas-start pxp-nav-mobile-container" tabindex="-1" id="pxpMobileNav">
                        <div class="offcanvas-header">
                            <div class="pxp-logo">
                                <a href="" class="pxp-animate"><img src="~/assets/images/logo-1.png" width="100" /></a>
                            </div>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <nav class="pxp-nav-mobile">
                                <ul class=" navbar-nav justify-content-end flex-grow-1 header-candidate-mobile">
                                   
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <nav class="pxp-nav pxp-light dropdown-hover-all d-none d-xl-block">
                        <ul class="header-candidate">
                           
                        </ul>
                </nav>
           </div>
             <nav class="pxp-user-nav d-none d-sm-flex">
                    @if (ViewBag.IsSignUp == true)
                    {
                        <a class="btn rounded-pill pxp-user-nav-trigger btn-signin ) d-none" href="@Url.Action("signin","home")" role="button">Đăng nhập</a>

                    }
                    else
                    {
                    <a href="/viet-cv" class="btn rounded-pill btn-warning-2">Tạo nhanh CV</a>
                        <a class="btn rounded-pill pxp-user-nav-trigger btn-signin )" href="@Url.Action("signin","home")" role="button">Đăng nhập</a>
                        <div class="dropdown pxp-user-nav-dropdown sign-in-profile d-none">
                            <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                                @*<div>
                                    <img class="user-photo pxp-user-nav-avatar pxp-cover" src="" alt="User Images" />
                                </div>*@
                                <div id="full-name" class="pxp-user-nav-name d-none d-md-block"></div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="@Url.Action("UpdateProfileCandidate", "Home")">Hồ sơ</a></li>
                                <li><a class="dropdown-item btnSignOut" href="@Url.Action("Index", "Home")">Đăng xuất</a></li>
                            </ul>
                        </div>
                    }
                </nav>
        </div>
    </div>
</header>
<script>
    var systemConfig = {
        defaultAPIURL: "@ViewBag.DefaultAPIURL",
    }
</script>
<script>
    const HeaderCandidate = @Html.Raw(ViewBag.HeaderCandidate);
</script>
<script src="~/assets/js/pages/_header.js" asp-append-version="true"></script>