<!doctype html>
<html lang="en" class="pxp-root">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/assets/css/poppins.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/assets/images/logo-title.png" type="image/x-icon" asp-append-version="true">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css" asp-append-version="true">
    <link href="~/assets/css/animate.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <link href="~/assets/css/sweetalert2.min.css" rel="stylesheet" asp-append-version="true" />
    <!-- Select2 CSS -->
    <link href="~/assets/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/css/custom-select2.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.9.179/web/pdf_viewer.min.css" rel="stylesheet">
    <script src="https://accounts.google.com/gsi/client"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v17.0&appId=291191869012979&autoLogAppEvents=1" nonce="c3WIfvVt"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.9.179/build/pdf.min.js"></script>
    <script src="~/assets/js/http-service.js" asp-append-version="true"></script>
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/sweetalert2.js"></script>
    <link href="~/assets/css/pages/_layout2.css" rel="stylesheet" asp-append-version="true"/>
    <title>@ViewBag.Title - BestCV</title>
    <style>
        .cursor-pointer {
            cursor: pointer !important;
        }

        .btn-login {
            margin: 10px;
        }

        /******************************************* Loading css */
        #loading {
            width: 100vw;
            height: 100vh;
            position: fixed;
            inset: 0;
            z-index: 999999;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(0 0 0 / 70%);
            visibility: hidden;
        }

            #loading.show {
                visibility: visible;
            }

        .lds-ring {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }

            .lds-ring div {
                box-sizing: border-box;
                display: block;
                position: absolute;
                width: 64px;
                height: 64px;
                margin: 8px;
                border: 8px solid #2f57ef;
                border-radius: 50%;
                animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                border-color: #2f57ef transparent transparent transparent;
            }

                .lds-ring div:nth-child(1) {
                    animation-delay: -0.45s;
                }

                .lds-ring div:nth-child(2) {
                    animation-delay: -0.3s;
                }

                .lds-ring div:nth-child(3) {
                    animation-delay: -0.15s;
                }

        @@keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .mb-100 {
            margin-bottom: 100px !important;
        }
    </style>
    <link href="~/assets/css/pages/_layout.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
    @*<div class="pxp-preloader"><span>Loading...</span></div>*@
    @*Loading*@
    <div id="loading">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

    @*Loading*@
    <partial name="_Header"></partial>
    @RenderBody()
    <partial name="_Footer"></partial>
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/nav.js" asp-append-version="true"></script>
    <script src="~/assets/js/main.js" asp-append-version="true"></script>

    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "125701787285493");
        chatbox.setAttribute("attribution", "biz_inbox");
    </script>
    <!-- Your SDK code -->
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v17.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/64ef1775a91e863a5c10a32b/1h92v791r';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


    <style>
        #kt_docs_toast_stack_container {
            z-index: 999999;
        }

        .toast {
            font-size: 0.9em;
            background-color: rgba(255, 255, 255);
            box-shadow: 4px 9px 20px 8px rgba(0, 0, 0, 0.2);
            border-radius: 6px 6px 6px 6px !important;
            border: 0px;
        }

            .toast .toast-header {
                border-radius: inherit;
            }

            .toast .toast-time {
                font-size: 0.7575em;
            }

            .toast .toast-body {
                background-image: linear-gradient(to bottom right,#2f57ef14, #ffedff69);
            }

                .toast .toast-body .toast-content {
                    max-height: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    </style>
    <!--begin::Toast-->
    <div id="kt_docs_toast_stack_container" class="toast-container position-fixed bottom-0 start-0 p-3 " style="margin-bottom: 50px;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-kt-docs-toast="stack" data-bs-delay="@NotificationConfig.FadeTimne">
            <div class="toast-header">
                <img width="100" height="100" class="me-auto" src="~/assets/images/company-logo-1.png" alt="BestCV logo">
                <button type="button" class="btn-close fs-6" data-bs-dismiss="toast" aria-label="Close"></button>
                
            </div>
            <div class="toast-body p-3">
                <div class="toast-title h5 mb-1"></div>
                <div class="toast-content noti-line-clamp"></div>
            </div>
        </div>
    </div>
    <script>
        var systemConfig = {
            defaultURL: "@ViewBag.defaultURL",
            defaultAPIURL: "@ViewBag.defaultAPIURL",
            defaultStorageURL: "@ViewBag.defaultStorageURL"
        }

        const ListBenefit = {
            DANG_TIN_TUYEN_DUNG: @BenefitId.DANG_TIN_TUYEN_DUNG,
            QUA_TANG_CREDIT: @BenefitId.QUA_TANG_CREDIT,
            THOI_GIAN_HIEN_THI: @BenefitId.THOI_GIAN_HIEN_THI,
            TIEP_CAN_HANG_NGAY: @BenefitId.TIEP_CAN_HANG_NGAY,
            THONG_BAO_EMAIL: @BenefitId.THONG_BAO_EMAIL,
            TOI_UU_BAI_DANG: @BenefitId.TOI_UU_BAI_DANG,
            NHAN_HO_SO_TIEU_CHUAN: @BenefitId.NHAN_HO_SO_TIEU_CHUAN,
            DAY_TOP_KHUNG_GIO_VANG: @BenefitId.DAY_TOP_KHUNG_GIO_VANG,
            HIEN_THI_O_CONG_VIEC_NOI_BAT: @BenefitId.HIEN_THI_O_CONG_VIEC_NOI_BAT,
            GAN_TAG_TOP_MANAGEMENT: @BenefitId.GAN_TAG_TOP_MANAGEMENT,
            HIEN_THI_DAU_TIEN_O_KET_QUA_TIM_KIEM: @BenefitId.HIEN_THI_DAU_TIEN_O_KET_QUA_TIM_KIEM,
            HIEN_THI_TRONG_NHOM_DAU_KET_QUA_TIM_KIEM: @BenefitId.HIEN_THI_TRONG_NHOM_DAU_KET_QUA_TIM_KIEM,
            DE_XUAT_VIEC_LAM_PHU_HOP: @BenefitId.DE_XUAT_VIEC_LAM_PHU_HOP,
            DE_XUAT_VIEC_LAM_LIEN_QUAN: @BenefitId.DE_XUAT_VIEC_LAM_LIEN_QUAN,
            NTD_CO_THE_BAN_QUAN_TAM: @BenefitId.NTD_CO_THE_BAN_QUAN_TAM,
            GAN_TAG_TOP: @BenefitId.GAN_TAG_TOP,
            GAN_TAG_URGENT: @BenefitId.GAN_TAG_URGENT,
            GAN_TAG_NEW: @BenefitId.GAN_TAG_NEW,
            LAM_MOI_TIN_TUYEN_DUNG: @BenefitId.LAM_MOI_TIN_TUYEN_DUNG,
            HIEN_THI_O_3_NGANH_KHAC_NHAU: @BenefitId.HIEN_THI_O_3_NGANH_KHAC_NHAU,
            GOI_Y_TIM_KIEM: @BenefitId.GOI_Y_TIM_KIEM,
            LUA_CHON_NGAY_HIEN_THI_TIN: @BenefitId.LUA_CHON_NGAY_HIEN_THI_TIN,
            BOLD_AND_RED: @BenefitId.BOLD_AND_RED,
            TUYEN_DUNG_GAP: @BenefitId.TUYEN_DUNG_GAP,
            HIEN_THI_DUOI_KHUNG_TIM_VIEC_TRANG_CHU: @BenefitId.HIEN_THI_DUOI_KHUNG_TIM_VIEC_TRANG_CHU,
        }
        const dayToMilisecond = 86400000;
        const newTag = "<span class='badge bg-primary me-1'>New</span>";
        const urgentTag = `<span class="badge bg-urgent border-ribbon"><span class="fa fa-bolt me-1" aria-hidden="true"></span>URGENT</span>`;
        const topTag = `<span class="badge bg-top border-ribbon"><span class="fa fa-star me-1" aria-hidden="true"></span>TOP</span>`;
        const managementTag = `<span class='badge bg-management me-1'><span class="fa fa-briefcase me-1" aria-hidden="true"></span>Top Management</span>`;

    </script>
    <script src="~/assets/js/pages/_layout.js" asp-append-version="true"></script>
    <script src="~/assets/js/pages/_slide.js" asp-append-version="true"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/select2_language_vi.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script>
        const httpService = new HttpService();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
