<!doctype html>
<html lang="en" class="pxp-root">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title - BestCV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="~/assets/images/logo-title.png" type="image/x-icon" asp-append-version="true">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css" asp-append-version="true">
    <link href="~/assets/css/animate.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/assets/css/poppins.css" asp-append-version="true" />
    <link href="~/lib/datatable/datatables.bundle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" asp-append-version="true">
    <!-- Select2 CSS -->
    <link href="~/assets/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/css/custom-select2.css" rel="stylesheet" />

    <!-- Datatable -->
    <link href="~/lib/datatable/datatables.bundle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <!-- jQuery JS -->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <!-- Sweet Alert -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- fontawesome pro -->
    <link rel="stylesheet" href="~/lib/fontawesome-pro-6.4.0/css/all.min.css">
    @await RenderSectionAsync("Headers", false)
    @*<link href="~/assets/css/feather.css" rel="stylesheet" />*@

    <!-- css bổ sung -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    
</head>
<body style="background-color: var(--pxpSecondaryColorLight);">
    <div class="pxp-preloader"><span>Loading...</span></div>

    <div class="pxp-dashboard-side-panel d-none d-lg-block">
        <div class="pxp-logo">
            <a href="@Url.Action("Index", "Home")" class="pxp-animate"><img src="~/assets/images/logo-1.png" /></a>
        </div>

        <partial name="_SidebarDashBoard"></partial>
       @* <nav class="pxp-dashboard-side-user-nav-container pxp-is-candidate">
            <div class="pxp-dashboard-side-user-nav">
                <div class="dropdown pxp-dashboard-side-user-nav-dropdown dropup">
                    <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                        <div class="pxp-dashboard-side-user-nav-avatar pxp-cover" style="background-image: url(/assets/images/avatar-1.jpg);"></div>
                        <div class="pxp-dashboard-side-user-nav-name">Chung</div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="@Url.Action("UpdatePasswordCandidate", "Home")">Dashboard</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("UpdateProfileCandidate", "Home")">Cài đặt thông tin cá nhân</a></li>
                        <li><a class="dropdown-item btnSignOut" href="@Url.Action("Index", "Home")">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
        </nav>*@
    </div>
    <div class="pxp-dashboard-content">
        <div class="pxp-dashboard-content-header">

            <div class="pxp-nav-trigger navbar pxp-is-dashboard d-lg-none">
                <a role="button" data-bs-toggle="offcanvas" data-bs-target="#pxpMobileNav" aria-controls="pxpMobileNav">
                    <div class="pxp-line-1"></div>
                    <div class="pxp-line-2"></div>
                    <div class="pxp-line-3"></div>
                </a>
                <div class="offcanvas offcanvas-start pxp-nav-mobile-container pxp-is-dashboard" tabindex="-1" id="pxpMobileNav">
                    <div class="offcanvas-header">
                        <div class="pxp-logo">
                            <a href="@Url.Action("Index", "Home")" class="pxp-animate"><img src="~/assets/images/logo-1.png" /></a>
                        </div>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <partial name="_SidebarDashBoardMobile"></partial>
                    </div>
                </div>
            </div>

            <nav class="pxp-user-nav pxp-on-light">
                @*<a href="@Url.Action("NewJobOffer", "Home")" class="btn rounded-pill pxp-nav-btn">Đăng tuyển</a>*@
                <partial name="_NotificationDashBoard"></partial>
                <div class="dropdown pxp-user-nav-dropdown">
                    <a role="button" class="dropdown-toggle" data-bs-toggle="dropdown">
                        @*<div class="pxp-user-nav-avatar pxp-cover" style="background-image: url(/assets/images/avatar-1.jpg);"></div>*@
                        <div>
                            <img class="user-photo pxp-user-nav-avatar pxp-cover" src="" alt="" />
                        </div>
                        <div id="full-name" class="pxp-user-nav-name d-none d-md-block">Chung</div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="@Url.Action("UpdatePasswordCandidate", "Home")">Dashboard</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("UpdateProfileCandidate", "Home")">Cài đặt thông tin cá nhân</a></li>
                        <li><a class="dropdown-item btnSignOut" href="@Url.Action("Index", "Home")">Đăng xuất</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="pxp-dashboard-content-details">
            @RenderBody()
        </div>
        <footer>
            <div class="pxp-footer-copyright pxp-text-light">© @DateTime.Now.Year Bản quyền thuộc về BestCV</div>
        </footer>

    </div>
    <style>
        #kt_docs_toast_stack_container {
            z-index: 999999;
        }

        .toast {
            font-size: 0.9em;
            background-color: rgba(255, 255, 255);
            box-shadow: 4px 9px 20px 8px rgba(0, 0, 0, 0.2);
            border-radius: 6px 6px 6px 6px !important;
            border: 0px;
        }

            .toast .toast-header {
                border-radius: inherit;
            }

            .toast .toast-time {
                font-size: 0.7575em;
            }

            .toast .toast-body {
                background-image: linear-gradient(to bottom right,#2f57ef14, #ffedff69);
            }

                .toast .toast-body .toast-content {
                    max-height: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    </style>
    <!--begin::Toast-->
    <div id="kt_docs_toast_stack_container" class="toast-container position-fixed bottom-0 start-0 p-3 " style="margin-bottom: 50px;">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-kt-docs-toast="stack" data-bs-delay="@NotificationConfig.FadeTimne">
            <div class="toast-header">
                <img width="100" height="100" class="me-auto" src="~/assets/images/company-logo-1.png" alt="BestCV logo">
                <button type="button" class="btn-close fs-6" data-bs-dismiss="toast" aria-label="Close"></button>
                
            </div>
            <div class="toast-body p-3">
                <div class="toast-title h5 mb-1"></div>
                <div class="toast-content noti-line-clamp"></div>
            </div>
        </div>
    </div>
    
    <script src="~/assets/js/http-service.js" asp-append-version="true"></script>

    @*<script src="~/js/jquery-3.4.1.min.js"></script>*@  
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/nav.js"></script>
    <script src="~/assets/js/Chart.min.js"></script>
    <script src="~/assets/js/main.js"></script>
    @*<script src="~/assets/js/feather.min.js"></script>*@
    @*<script src="~/assets/js/http-service.js" asp-append-version="true"></script>*@
    <!-- Datatable -->
    <script src="~/lib/datatable/datatables.bundle.js" type="text/javascript" asp-append-version="true"></script>    
    <!-- Moment -->  
    <script src="~/assets/js/moment-with-locales.js"></script>
    <script>
        moment.locale("vi");
        const httpService = new HttpService();
    </script>
    <script src="~/assets/js/pages/_layout.js" asp-append-version="true"></script>

    <script src="~/assets/js/form-validation.js" asp-append-version="true"></script>
    <!--Select2-->
    @*<script src="~/assets/js/se"*@
    <script src="~/assets/js/select2.min.js"></script>
    <script src="~/assets/js/select2_language_vi.js"></script>
    <script>
        $.fn.select2.defaults.set('language', 'vi');
    </script>
    
    <script>
        var systemConfig = {
            defaultURL: window.origin,
            defaultStorage_URL: "@ViewBag.DefaultStorageURL",
            defaultAPIURL: "@ViewBag.DefaultAPIURL",
            languageDataTable: {
                oAria: {
                    sSortAscending: ": Sắp xếp thứ tự tăng dần",
                    sSortDescending: ": Sắp xếp thứ tự giảm dần"
                },
                oPaginate: {
                    sFirst: "Đầu tiên",
                    sLast: "Cuối cùng",
                    sNext: "Sau",
                    sPrevious: "Trước"
                },
                sEmptyTable: "Không có dữ liệu",
                sInfo: "Hiển thị _START_ tới _END_ của _TOTAL_ dữ liệu",
                sThousands: ".",
                sInfoEmpty: "Hiển thị 0 tới 0 của 0 dữ liệu",
                sInfoFiltered: "(được lọc từ _MAX_ dữ liệu)",
                sInfoPostFix: "",
                sDecimal: ",",
                sLengthMenu: "_MENU_ ",
                sLoadingRecords: "Đang tải...",
                sProcessing: `<span class="svg-icon svg-icon-success svg-icon-2hx">
                                        <svg class="spin" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.3" d="M13.341 22H11.341C10.741 22 10.341 21.6 10.341 21V18C10.341 17.4 10.741 17 11.341 17H13.341C13.941 17 14.341 17.4 14.341 18V21C14.341 21.6 13.941 22 13.341 22ZM18.5409 10.7L21.141 9.19997C21.641 8.89997 21.7409 8.29997 21.5409 7.79997L20.5409 6.09997C20.2409 5.59997 19.641 5.49997 19.141 5.69997L16.5409 7.19997C16.0409 7.49997 15.941 8.09997 16.141 8.59997L17.141 10.3C17.441 10.8 18.0409 11 18.5409 10.7ZM8.14096 7.29997L5.54095 5.79997C5.04095 5.49997 4.44096 5.69997 4.14096 6.19997L3.14096 7.89997C2.84096 8.39997 3.04095 8.99997 3.54095 9.29997L6.14096 10.8C6.64096 11.1 7.24095 10.9 7.54095 10.4L8.54095 8.69997C8.74095 8.19997 8.64096 7.49997 8.14096 7.29997Z" fill="currentColor"/>
                                            <path d="M13.3409 7H11.3409C10.7409 7 10.3409 6.6 10.3409 6V3C10.3409 2.4 10.7409 2 11.3409 2H13.3409C13.9409 2 14.3409 2.4 14.3409 3V6C14.3409 6.6 13.9409 7 13.3409 7ZM5.54094 18.2L8.14095 16.7C8.64095 16.4 8.74094 15.8 8.54094 15.3L7.54094 13.6C7.24094 13.1 6.64095 13 6.14095 13.2L3.54094 14.7C3.04094 15 2.94095 15.6 3.14095 16.1L4.14095 17.8C4.44095 18.3 5.04094 18.5 5.54094 18.2ZM21.1409 14.8L18.5409 13.3C18.0409 13 17.4409 13.2 17.1409 13.7L16.1409 15.4C15.8409 15.9 16.0409 16.5 16.5409 16.8L19.1409 18.3C19.6409 18.6 20.2409 18.4 20.5409 17.9L21.5409 16.2C21.7409 15.7 21.6409 15 21.1409 14.8Z" fill="currentColor"/>
                                        </svg>
                                    </span>   Đang tải...`,
                sSearch: "Tìm kiếm:",
                sSearchPlaceholder: "",
                sUrl: "",
                sZeroRecords: "Không tìm thấy kết quả"
            }
        }

        function reGenDataTable(t, f) {
            t.destroy();
            f();
        }
    </script>

    <script>
        const MenuCandidate = @Html.Raw(ViewBag.MenuDashBoardCandidate);
    </script>

    <script>
        const read = @NotificationConfig.Status.Read;
        const unRead = @NotificationConfig.Status.Unread;

        const DEFAULT_VALUE_JUST_HEARD_ABOUT = @SkillLevelConstants.DEFAULT_VALUE_JUST_HEARD_ABOUT;
        const DEFAULT_VALUE_NO_COMPLETE_PRODUCT_YET = @SkillLevelConstants.DEFAULT_VALUE_NO_COMPLETE_PRODUCT_YET;
        const DEFAULT_VALUE_HAVE_A_COMPLETE_PRODCUT = @SkillLevelConstants.DEFAULT_VALUE_HAVE_A_COMPLETE_PRODCUT;
        const DEFAULT_VALUE_HAVE_A_COMPLETE_PRODUCT_GROUP = @SkillLevelConstants.DEFAULT_VALUE_HAVE_A_COMPLETE_PRODUCT_GROUP;
        const DEFAULT_VALUE_PROFICIENT = @SkillLevelConstants.DEFAULT_VALUE_PROFICIENT;
    </script>
    
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    <script src="~/lib/datatable/datatables.bundle.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/assets/js/pages/_layout.js"></script>
    <!-- Confetti -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>

    <script src="~/assets/js/pages/notification.js" asp-append-version="true"></script>
    <script src="~/assets/js/pages/_layout-dashboard.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/candidatenotification.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            if (!localStorage.getItem('currentUser')) {
                var url = "@Url.Action("Index", "Home")";
                window.location.href = url;
            }
            $('.btnSignOut').on('click', function () {
                localStorage.clear();
                var url = "@Url.Action("Index", "Home")";
                window.location.href = url;
            });
        });
    </script>
</body>

</html>