<nav class="pxp-nav-mobile">
    <ul class="navbar-nav justify-content-end flex-grow-1">
        <li class="pxp-dropdown-header">Admin tools</li>
        <li class="nav-item"><a href="@Url.Action("CompanyDashboard", "Home")"><span class="fa fa-home"></span>Dashboard</a></li>
        <li class="nav-item"><a href="@Url.Action("UpdateProfileCandidate", "Home")"><span class="fa fa-pencil"></span>Cài đặt thông tin</a></li>
        <li class="nav-item"><a href="@Url.Action("NewJobOffer", "Home")"><span class="fa fa-file-text-o"></span>New Job Offer</a></li>
        <li class="nav-item"><a href="@Url.Action("ManageJobs", "Home")"><span class="fa fa-briefcase"></span>Manage Jobs</a></li>
        <li class="nav-item"><a href="@Url.Action("Candidates", "Home")"><span class="fa fa-user-circle-o"></span>Candidates</a></li>
        <li class="nav-item"><a href="@Url.Action("Subscriptions", "Home")"><span class="fa fa-credit-card"></span>Subscriptions</a></li>
        <li class="nav-item"><a href="@Url.Action("UpdatePasswordCandidate", "Home")"><span class="fa fa-lock"></span>Đổi mật khẩu</a></li>
        <li class="pxp-dropdown-header mt-4">Insights</li>
       @* <li class="nav-item">
            <a href="@Url.Action("UpdateNotiEmailCandidate", "Home")" class="d-flex justify-content-between align-items-center">
                <div><span class="fa fa-envelope-o"></span>Cài đặt nhận Email</div>               
            </a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("Notifications", "Home")" class="d-flex justify-content-between align-items-center">
                <div><span class="fa fa-bell-o"></span>Notifications</div>
                <span class="badge rounded-pill">5</span>
            </a>
        </li>*@
    </ul>
</nav>