@{
    ViewBag.Title = "Danh sách bài viết";
    var title = "Danh sách bài viết";
    Layout = "_Layout";
}
<style>
    
    /*skeleton*/
    .image-skeleton-loading, .titl {
        background: #eee;
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        border-radius: 5px;
        background-size: 200% 100%;
        animation: 1.5s skeleton-loading-feedback linear infinite;
    }

    .title-skeleton-loading {
        height: 20px;
        margin-bottom: 5px;
    }

    .read-more-skeleton-loading {
        height: 20px;
    }

    @@keyframes skeleton-loading-feedback {
        to {
            background-position-x: -200%;
        }
    }

    .skeleton {
        background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
        background-size: 200% 100%;
        animation: 1.5s skeleton-loading-feedback linear infinite;
    }

    .skeleton-body {
        height: 20px !important;
        width: 795px !important;
        border-radius: 10px;
    }

    .skeleton-image {
        height: 260px !important;
        width: 100% !important;
    }

    .skeleton-title {
        height: 20px !important;
        width: 65% !important;
        border-radius: 10px;
    }

    .skeleton-over-view {
        height: 20px !important;
        width: 100% !important;
        border-radius: 10px;
    }

    .skeleton-category {
        height: 20px !important;
        width: 30% !important;
        border-radius: 10px;
    }
    .skeleton-publish-time {
        height: 20px !important;
        width: 20% !important;
        border-radius: 10px;
        margin-top: -20px !important;
        margin-left: auto !important;
    }

    .skeleton-read {
        height: 20px !important;
        width: 25% !important;
        border-radius: 10px;
    }
    .skeleton-filter {
        height: 20px !important;
    }

    .pxp-nav.pxp-light > ul > li > a {
        color: #000;
    }

    .pxp-logo.pxp-light > a {
        color: #000;
    }

    .pxp-user-nav-name {
        color: #000;
    }

    .pxp-user-nav-dropdown > .dropdown-toggle::after {
        margin-left: 7px;
        border-top-color: #000;
    }

    a.btn.rounded-pill.pxp-user-nav-trigger.btn-signin.\) {
        color: #000;
        background: white;
    }


    .pxp-header {
        border-bottom: 1px solid var(--pxpLightGrayColor);
    }
    
    .badge {
        background-color: white;
        color: darkgray;
        margin-left: auto;
    }

    .jobi-post-card{
        border-radius: 30px !important;
        border: 1px solid #F4C634 !important;
        background: linear-gradient(180deg, #FDF9ED 0%, #FDFBF6 100%) !important; 
    }

    .pxp-blogs-list-side-panel{
        margin-top: unset;        
    }

    .side-filter-card .tagSelect{
        border-radius: 5px !important;
        border: 1px solid #F4C634 !important;
        background-color: #FEF7DF ;
        color: black;
    }

    .choosed {
        background-color: #F4C634 !important;
        color: white !important;
    }

    .pxp-blogs-side-tags > a:hover {
        background-color: #F4C634 !important;
        color: #fff;
    }
</style>

<section class="pxp-page-header-simple d-flex align-items-center m-l-r-4pc" style="background-image: url(/assets/images/Backgrond-jobi.png);">
    <div class="pxp-container d-flex flex-column align-items-center">
        @*<h1>@(ViewBag.TagId != 0 ? "Thẻ" : (ViewBag.PostCategoryId != 0 ? "Danh mục" : "Danh sách bài viết"))</h1>*@
        @if (ViewBag.TagId != 0)
        {
            <h1>Thẻ Bài Viết </h1>
            <h4>@ViewBag.TagName</h4>
        }
        else if (ViewBag.PostCategoryId != 0)
        {
            <h1>Danh Mục </h1>
            <h4>@ViewBag.PostCategoryName</h4>
        }
        else
        {
            <h1>Danh sách bài viết</h1>
        }
    </div>
</section>

<div class="mt-32px">
    <div class="pxp-preloader" style="display: none;"><span>Loading...</span></div>
    <section class="m-l-r-4pc">
        <div class="pxp-container">
            <div class="mt-32px mb-32px">
                <div class="row">
                    <div class="col-lg-7 col-xl-8 col-xxl-9">
                        @*danh sách bài viết*@
                        <div id="section-post">
                            @for (var i = 0; i < 6; i++)
                            {

                                    <div class="pxp-posts-card-2 pxp-has-border ms-2 mb-32px">
                                        <div class="pxp-posts-card-2-fig">
                                            <div class="pxp-cover skeleton skeleton-image"></div>
                                        </div>
                                        <div class="pxp-posts-card-2-content p-2">
                                            <div class="row justify-content-between align-items-center">
                                                <div class="pxp-posts-card-2-category mt-4">
                                                    <div class="col-auto skeleton skeleton-category"></div>
                                                </div>
                                                <div class="pxp-posts-card-2-category ">
                                                    <div class="col-auto skeleton skeleton-publish-time"></div>
                                                </div>
                                            </div>
                                            <div class="pxp-posts-card-2-title mt-4">
                                                <div class="col-auto skeleton skeleton-title"></div>
                                            </div>
                                            <div class="pxp-posts-card-2-title mt-4">
                                                <div class="col-auto skeleton skeleton-over-view"></div>
                                            </div>
                                            <div class="pxp-posts-card-2-title mt-4">
                                                <div class="col-auto skeleton skeleton-over-view"></div>
                                            </div>
                                            <div class="pxp-posts-card-2-summary pxp-text-light"></div>
                                            <div class="pxp-posts-card-2-cta">
                                                <div class="col-auto skeleton skeleton-read"></div>
                                            </div>
                                        </div>

                                    </div>

                            }
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-auto">
                                <nav class="mt-32px mb-32px" aria-label="Posts list pagination">
                                    <ul class="pagination pxp-pagination" id="pagination-post">
                                        @*<li class="page-item active" aria-current="page">
                                        <span class="page-link">1</span>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>*@
                                    </ul>
                                </nav>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-5 col-xl-4 col-xxl-3">
                        <div class="pxp-blogs-list-side-panel side-filter-card">
                            <h3>Tìm Kiếm Bài Viết</h3>
                            <div class="mt-2 mt-lg-3">
                                <div class="input-group">
                                    <span class="input-group-text"><span class="fa fa-search"></span></span>
                                    <input type="text" class="form-control" placeholder="Tìm kiếm theo từ khóa" id="search-all-post">
                                </div>
                            </div>
                            @*Load data category*@
                            <h3 class="mt-3 mt-lg-4" id="filterPostCategoryTitle">Danh Mục Bài Viết</h3>
                            <div class="list-group mt-2 mt-lg-3" id="filterPostCategory">
                                <div class="d-flex align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                                <div class="d-flex align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                                <div class="d-flex align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                                <div class="d-flex align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                                <div class="d-flex align-items-center mt-2 mt-lg-3 skeleton skeleton-filter"></div>
                            </div>

                            @*<h3 class="mt-3 mt-lg-4">Bài Viết Gần Đây</h3>
                            <ul class="list-unstyled pxp-blogs-side-articles-list mt-2 mt-lg-3">
                            <li class="mb-3">
                            <a href="single-blog-post.html" class="pxp-blogs-side-articles-list-item">
                            <div class="pxp-blogs-side-articles-list-item-fig pxp-cover" style="background-image: url(images/post-card-1.jpg);"></div>
                            <div class="pxp-blogs-side-articles-list-item-content ms-3">
                            <div class="pxp-blogs-side-articles-list-item-title">10 awesome free career self assessments</div>
                            <div class="pxp-blogs-side-articles-list-item-date pxp-text-light">September 3, 2021</div>
                            </div>
                            </a>
                            </li>
                            <li class="mb-3">
                            <a href="single-blog-post.html" class="pxp-blogs-side-articles-list-item">
                            <div class="pxp-blogs-side-articles-list-item-fig pxp-cover" style="background-image: url(images/post-card-2.jpg);"></div>
                            <div class="pxp-blogs-side-articles-list-item-content ms-3">
                            <div class="pxp-blogs-side-articles-list-item-title">How to start looking for a job</div>
                            <div class="pxp-blogs-side-articles-list-item-date pxp-text-light">September 5, 2021</div>
                            </div>
                            </a>
                            </li>
                            <li class="mb-3">
                            <a href="single-blog-post.html" class="pxp-blogs-side-articles-list-item">
                            <div class="pxp-blogs-side-articles-list-item-fig pxp-cover" style="background-image: url(images/post-card-3.jpg);"></div>
                            <div class="pxp-blogs-side-articles-list-item-content ms-3">
                            <div class="pxp-blogs-side-articles-list-item-title">Resume samples</div>
                            <div class="pxp-blogs-side-articles-list-item-date pxp-text-light">September 10, 2021</div>
                            </div>
                            </a>
                            </li>
                            <li class="mb-3">
                            <a href="single-blog-post.html" class="pxp-blogs-side-articles-list-item">
                            <div class="pxp-blogs-side-articles-list-item-fig pxp-cover" style="background-image: url(images/post-card-4.jpg);"></div>
                            <div class="pxp-blogs-side-articles-list-item-content ms-3">
                            <div class="pxp-blogs-side-articles-list-item-title">100 top interview questions - be prepared</div>
                            <div class="pxp-blogs-side-articles-list-item-date pxp-text-light">September 15, 2021</div>
                            </div>
                            </a>
                            </li>
                            <li>
                            <a href="single-blog-post.html" class="pxp-blogs-side-articles-list-item">
                            <div class="pxp-blogs-side-articles-list-item-fig pxp-cover" style="background-image: url(images/post-card-1.jpg);"></div>
                            <div class="pxp-blogs-side-articles-list-item-content ms-3">
                            <div class="pxp-blogs-side-articles-list-item-title">10 awesome free career self assessments</div>
                            <div class="pxp-blogs-side-articles-list-item-date pxp-text-light">September 20, 2021</div>
                            </div>
                            </a>
                            </li>
                            </ul>*@

                            <h3 class="mt-3 mt-lg-4" id="filter-post-tag-title">Thẻ Bài Viết</h3>
                            <div class="mt-2 mt-lg-3 pxp-blogs-side-tags" id="filter-post-tag-div">
                                @*<a href="blog-list-1.html">Work from home</a>
                                <a href="blog-list-1.html">Part-time</a>
                                <a href="blog-list-1.html">Administration</a>
                                <a href="blog-list-1.html">Finance</a>
                                <a href="blog-list-1.html">Retail</a>
                                <a href="blog-list-1.html">IT</a>
                                <a href="blog-list-1.html">Engineering</a>
                                <a href="blog-list-1.html">Sales</a>
                                <a href="blog-list-1.html">Manufacturing</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade pxp-user-modal" id="pxp-signin-modal" aria-hidden="true" aria-labelledby="signinModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pxp-user-modal-fig text-center">
                        <img src="images/signin-fig.png" alt="Sign in">
                    </div>
                    <h5 class="modal-title text-center mt-4" id="signinModal">Welcome back!</h5>
                    <form class="mt-4">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="pxp-signin-email" placeholder="Email address">
                            <label for="pxp-signin-email">Email address</label>
                            <span class="fa fa-envelope-o"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="pxp-signin-password" placeholder="Password">
                            <label for="pxp-signin-password">Password</label>
                            <span class="fa fa-lock"></span>
                        </div>
                        <a href="#" class="btn rounded-pill pxp-modal-cta">Continue</a>
                        <div class="mt-4 text-center pxp-modal-small">
                            <a href="#" class="pxp-modal-link">Forgot password</a>
                        </div>
                        <div class="mt-4 text-center pxp-modal-small">
                            New to Jobster? <a role="button" class="" data-bs-target="#pxp-signup-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Create an account</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade pxp-user-modal" id="pxp-signup-modal" aria-hidden="true" aria-labelledby="signupModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pxp-user-modal-fig text-center">
                        <img src="images/signup-fig.png" alt="Sign up">
                    </div>
                    <h5 class="modal-title text-center mt-4" id="signupModal">Create an account</h5>
                    <form class="mt-4">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="pxp-signup-email" placeholder="Email address">
                            <label for="pxp-signup-email">Email address</label>
                            <span class="fa fa-envelope-o"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="pxp-signup-password" placeholder="Create password">
                            <label for="pxp-signup-password">Create password</label>
                            <span class="fa fa-lock"></span>
                        </div>
                        <a href="#" class="btn rounded-pill pxp-modal-cta">Continue</a>
                        <div class="mt-4 text-center pxp-modal-small">
                            Already have an account? <a role="button" class="" data-bs-target="#pxp-signin-modal" data-bs-toggle="modal">Sign in</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var pageIndex = 1;
        var totalPage = 0;
        var search = "";
        var searchObj = {
            keyword: "",
            tagId: [],
            postCategoryId: [],
            pageIndex: 1,
        }
        var isFirstTime = true;
        var postCategoryName = "@ViewBag.postCategoryName";
        var postCategoryId = @(ViewBag.postCategoryId == null ? 0 : ViewBag.postCategoryId);
        var tagHavePostName = "@ViewBag.tagName";
        var searchtagId = @Html.Raw(ViewBag.TagId)
        var searchKeyword = "@Html.Raw(ViewBag.Keyword)"
    </script>
    <script src="~/assets/js/pages/post.js" asp-append-version="true"></script>
}