
@{
	Layout = null;
}
<style>
	.login-content {
		width: 100%;
		margin: 10px;
		border: 1px solid #f5f5f5;
		border-radius: 10px;
		font-size: 12px;
		display: flex;
		align-items: center;
	}

	.logoDion {
		height: 100px;
	}

	body.swal2-height-auto {
		min-height: 100% !important;
	}

	#loading {
		width: 100vw;
		height: 100vh;
		position: fixed;
		inset: 0;
		z-index: 999999;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(0 0 0 / 70%);
		visibility: hidden;
	}

	#loading.show {
		visibility: visible;
	}

	.lds-ring {
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;
	}

	.lds-ring div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 64px;
		height: 64px;
		margin: 8px;
		border: 8px solid #2f57ef;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: #2f57ef transparent transparent transparent;
	}

	.lds-ring div:nth-child(1) {
		animation-delay: -0.45s;
	}

	.lds-ring div:nth-child(2) {
		animation-delay: -0.3s;
	}

	.lds-ring div:nth-child(3) {
		animation-delay: -0.15s;
	}

	@@keyframes lds-ring {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
</style>
<!--begin::Head-->
<head>
	<meta charset="utf-8" />
	<title>Đặt lại mật khẩu - Quản trị hệ thống - BestCV</title>
	@*SEO tags*@
	<meta name="author" content="Digital Innovation">
	@*SEO tags end*@
	<link rel="shortcut icon" href="~/assets/media/images/logo-title.png" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
	<link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
	<link href="~/assets/css/style.bundle.css" rel="stylesheet" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="app-blank bgi-size-cover bgi-position-center bgi-no-repeat">
	<!--begin::Theme mode setup on page load-->
	<script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if (localStorage.getItem("data-bs-theme") !== null) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
	<!--end::Theme mode setup on page load-->
	<!--begin::Root-->
	<div class="d-flex flex-column flex-root" id="kt_app_root">
		@if (ViewBag.tokenValid)
		{
			<!--begin::Page bg image-->
			<style>
				body {
					background-image: url('/assets/media/auth/bg4.jpg');
					background-size: cover;
				}

				[data-bs-theme="dark"] body {
					background-image: url('/metronic8/demo1/assets/media/auth/bg4-dark.jpg');
				}
			</style>
			<!--end::Page bg image-->
			<!--begin::Authentication - New password -->
			<div class="d-flex flex-column flex-column-fluid flex-lg-row">
				<!--begin::Aside-->
				<div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
					<!--begin::Aside-->
					<div class="d-flex flex-center flex-lg-start flex-column">
						<a class="mb-7">
							<img class="logoDion" src="~/assets/media/logos/dion-logo_wo_bg-white2.png" />
						</a>
					</div>
					<!--begin::Aside-->
				</div>
				<!--begin::Aside-->
				<!--begin::Body-->

				<div class="d-flex flex-center w-lg-50 p-10">
					<!--begin::Card-->
					<div class="card rounded-3 w-md-550px">
						<!--begin::Card body-->
						<div class="card-body d-flex flex-column p-10 p-lg-20 pb-lg-10">
							<!--begin::Wrapper-->
							<div class="d-flex flex-center flex-column-fluid ">
								<!--begin::Form-->
								<form class="form w-100" novalidate="novalidate" id="new_password_form" data-kt-redirect-url="../../demo1/dist/authentication/layouts/creative/sign-in.html" action="#">
									<!--begin::Heading-->
									<div class="text-center mb-10">
										<!--begin::Title-->
										<h1 class="text-dark fw-bolder mb-3">Thiết lập mật khẩu mới</h1>
										<!--end::Title-->
										<!--begin::Link-->
										<div class="text-gray-500 fw-semibold fs-6">
											Bạn đã đặt lại mật khẩu chưa?
											<a href="@Url.Action("Login","Home")" class="link-primary fw-bold">Đăng nhập</a>
										</div>
										<!--end::Link-->
									</div>
									<!--begin::Heading-->
									<!--begin::Input group-->
									<div class="fv-row mb-8" data-kt-password-meter="true">
										<!--begin::Wrapper-->
										<div class="mb-1">
											<!--begin::Input wrapper-->
											<div class="position-relative mb-3">
												<input class="form-control bg-transparent" type="password" placeholder="Mật khẩu mới" name="password" autocomplete="off" id="newpassword" maxlength="50" />
												<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2">
													@*<i class="bi fa-eye-slash fs-2 showHiden"></i>*@
													<i class="fa-solid fa-eye " id="showHiden-Password"></i>
												</span>
											</div>
											<!--end::Input wrapper-->

										</div>
										<!--end::Wrapper-->
									</div>
									<div class="fv-row mb-8">
										<!--begin::Repeat Password-->
										<div class="position-relative mb-3">
											<input class="form-control bg-transparent" type="password" placeholder="Nhập lại mật khẩu mới" name="confirm-password" autocomplete="off" id="retypenewpassword" maxlength="50" />
											<span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2">
												<i class="fa-solid fa-eye  " id="showHiden-confirm-password"></i>
											</span>
										</div>
										<!--end::Repeat Password-->
									</div>

									<!--begin::Action-->
									<div class="d-grid ">
										<button type="button" id="summit_pass" class="btn btn-primary">
											<!--begin::Indicator label-->
											<span class="indicator-label">Thay đổi mật khẩu</span>
											<!--end::Indicator label-->
											<!--begin::Indicator progress-->
											<span class="indicator-progress">
												Please wait...
												<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
											</span>
											<!--end::Indicator progress-->
										</button>
									</div>
									<!--end::Action-->
								</form>
								<!--end::Form-->
							</div>
							<!--end::Wrapper-->
						</div>
						<!--end::Card body-->
					</div>
					<!--end::Card-->
				</div>

				<div id="loading">
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<!--end::Body-->

			</div>
			<!--end::Authentication - New password-->
		}
		else
		{
			<!--begin::Page bg image-->
			<style>
				body {
					background-image: url('/assets/media/images/bg1.jpg');
				}
			</style>
			<!--end::Page bg image-->
			<!--begin::Authentication - Signup Welcome Message -->
			<div class="d-flex flex-column flex-center flex-column-fluid">
				<!--begin::Content-->
				<div class="d-flex flex-column flex-center text-center p-10">
					<!--begin::Wrapper-->
					<div class="card card-flush w-lg-650px py-5">
						<div class="card-body py-15 py-lg-20">
							<!--begin::Title-->
							<h1 class="fw-bolder fs-2hx text-gray-900 mb-4">Lỗi!</h1>
							<!--end::Title-->
							<!--begin::Text-->
							<div class="fw-semibold fs-6 text-gray-500 mb-7">Chúng tôi không thể tìm thấy trang.</div>
							<!--end::Text-->
							<!--begin::Illustration-->
							<div class="mb-3">
								<img src="~/assets/media/images/404-error.png" class="mw-100 mh-300px theme-light-show" alt="" />
							</div>
							<!--end::Illustration-->
							<!--begin::Link-->
							<div class="mb-0">
								<a href="@Url.Action("Index","Admin")" class="btn btn-sm btn-primary">Quay Lại Trang Chủ</a>
							</div>
							<!--end::Link-->
						</div>
					</div>
					<!--end::Wrapper-->
				</div>
				<!--end::Content-->
			</div>
			<!--end::Authentication - Signup Welcome Message-->
		}
	</div>
	<!--end::Root-->
	<!--begin::Javascript-->
	<script>var hostUrl = "assets/";</script>
	<!--begin::Global Javascript Bundle(mandatory for all pages)-->
	<script src="~/assets/plugins/global/plugins.bundle.js"></script>
	<script src="~/assets/js/scripts.bundle.js"></script>
	<script type="text/javascript">
		var code = "@ViewBag.Value";
		var hash = "@ViewBag.Hash";
		const systemConfig = {
			defaultAPIURL: "@ViewBag.defaultAPIURL"
		}
	</script>
    <script src="~/assets/js/pages/reset-password.js" asp-append-version="true"></script>
	
</body>
<!--end::Body-->
